.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(228,228,228) ;
    z-index: 100;

}
.left-section{
    display: flex;
    align-items: center;
    
}
.middle-section{
    display: flex;
    flex: 1;
    max-width: 500px ;
    margin-left: 70px;
    margin-right: 35px;
    align-items: center;
   
}
.search-bar::placeholder{
    font-size: 16px;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color:rgb(192,192,192);
    border-radius: 2px;
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    border-radius: 4px;
}
.search-button,
.voice-search-button 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip
{
    opacity: 1;
}
.search-icon{
    height: 25px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248,248,248);
}
.voice-search-icon{
    height: 24px;
}
.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right:-5px;
    background-color:rgb(200,0,0);
    color: white;
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}